h1, .h1 {
  font-family: var(--font-heading);
  font-weight: 400;
  font-size: 70px;
  line-height: 1;
  letter-spacing: 0.06em;
}

h2, .h2 {
  font-family: var(--font-heading);
  font-weight: 400;
  font-size: 50px;
  line-height: 1;
  letter-spacing: 0.07px;
}

h3, .h3 {
  font-family: var(--font-heading);
  font-weight: 400;
  font-size: 27px;
  line-height: 1;
  letter-spacing: normal;
}

h4, .h4 {
  font-family: var(--font-heading);
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.07px;
}

.h1-display {
  font-family: var(--font-heading);
  font-weight: 400;
  font-size: 54px;
  line-height: 1;
  letter-spacing: 0.06em;
}

.h2-upper {
  font-family: var(--font-heading);
  font-weight: 400;
  font-size: 40px;
  line-height: 1.52;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.text-accent {
  font-family: var(--font-heading);
  font-weight: 400;
  font-size: 24px;
  line-height: 1.32;
  letter-spacing: 0.06em;
}

.text-36 {
  font-family: var(--font-text);
  font-weight: 300;
  font-size: 36px;
  line-height: 1.52;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.text-24 {
  font-family: var(--font-text);
  font-weight: 300;
  font-size: 24px;
  line-height: 1.32;
  letter-spacing: 0.06em;
}

.text-18 {
  font-family: var(--font-text);
  font-weight: 300;
  font-size: 18px;
  line-height: 1.62;
  letter-spacing: 0.06em;
}

.text-16-medium {
  font-family: var(--font-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.06em;
}

.text-16-regular {
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.06em;
}

.text-16 {
  font-family: var(--font-text);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.42;
  letter-spacing: 0.06em;
}

.text-15 {
  font-family: var(--font-text);
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.06em;
}

.text-14 {
  font-family: var(--font-text);
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.06em;
}

.menu-18 {
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.06em;
}

.btn-16 {
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.06em;
}

.menu-15 {
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.06em;
}

.link-15 {
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.06em;
  text-decoration: underline;
  text-underline-position: from-font;
}

.link-14 {
  font-family: var(--font-text);
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.06em;
  text-decoration: underline;
  text-underline-position: from-font;
}

/* breadcrumb */
.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.breadcrumb__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  white-space: nowrap;
}
.breadcrumb__link {
  font-family: var(--font-text);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.42;
  letter-spacing: 0.06em;
  color: var(--text);
  line-height: 1.62;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
}
.breadcrumb__item:not(:last-of-type) .breadcrumb__link {
  color: var(--accent);
}
@media (any-hover: hover) {
  .breadcrumb__item:not(:last-of-type) .breadcrumb__link:hover {
    color: var(--accent-hover);
  }
}
@media (any-hover: none) {
  .breadcrumb__item:not(:last-of-type) .breadcrumb__link:active {
    color: var(--accent-hover);
  }
}
.breadcrumb__item:not(:last-of-type) .breadcrumb__link {
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.breadcrumb__name {
  white-space: nowrap;
}
.breadcrumb__separator {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 24px;
  height: 24px;
  color: var(--accent);
}
.breadcrumb__separator-icon {
  display: block;
  width: 24px;
  height: 24px;
}
/*# sourceMappingURL=style.css.map */