@use "../../../../css/helpers" as *;

.footer-menu {
  display: flex;
  align-items: center;

  &__item {
    &:not(:last-child) {
      border-right: 1px solid var(--Colors-Gray-2);
    }
  }

  &__link {
    @include tr;
    padding-inline: 20px;

    &.selected {
      color: var(--accent);
    }
  }
}