:root {
  --Colors-White: #fff;
  --Colors-BG-Black: #101010;
  --Colors-BG-Black-2: #1b1b1b;
  --Colors-Gray-1: #525252;
  --Colors-Gray-2: #424242;
  --Colors-Gray-3: #bfbfbf;
  --Colors-Gray-4: #eeeeee;
  --Colors-Blue-Accident: #5ab9e7;
  --Colors-Blue-Accident-2: #259fda;
  --Green-1: #219653;
  --Indents-S: 20px;
  --Radius-Raduis-S: 24px;
  --font-poiret: "Poiret One", sans-serif;
  --font-ubuntu: "Ubuntu", sans-serif;
  --font-inter: "Inter", sans-serif;
  --bg: var(--Colors-BG-Black);
  --bg-surface: var(--Colors-BG-Black-2);
  --text: var(--Colors-White);
  --text-muted: var(--Colors-Gray-3);
  --border: var(--Colors-Gray-2);
  --accent: var(--Colors-Blue-Accident);
  --accent-hover: var(--Colors-Blue-Accident-2);
  --font-heading: var(--font-poiret);
  --font-text: var(--font-ubuntu);
  --font-size: 16px;
  --font-weight: 400;
  --line-height: 1.42;
  --container-width: 1380px;
  --container-padding: 20px;
  --transition: 0.4s;
}

[data-theme=light] {
  --bg: var(--Colors-White);
  --bg-surface: var(--Colors-Gray-4);
  --text: var(--Colors-BG-Black);
  --text-muted: var(--Colors-Gray-1);
  --border: var(--Colors-Gray-3);
  --accent: var(--Colors-Blue-Accident-2);
  --accent-hover: var(--Colors-Blue-Accident);
  --font-heading: var(--font-inter);
  --font-text: var(--font-inter);
}

@font-face {
  font-family: "Poiret One";
  src: url("fonts/PoiretOne-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu";
  src: url("fonts/Ubuntu-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu";
  src: url("fonts/Ubuntu-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu";
  src: url("fonts/Ubuntu-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("fonts/Inter18pt-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("fonts/Inter18pt-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("fonts/Inter18pt-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
body {
  background: var(--bg);
  font-family: var(--font-text);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  color: var(--text);
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container {
  width: 100%;
  max-width: calc(0px + var(--container-width) + var(--container-padding) * 2);
  padding-inline: var(--container-padding);
  margin-inline: auto;
}

@media (any-hover: hover) {
  a:hover {
    color: var(--accent);
  }
}
@media (any-hover: none) {
  a:active {
    color: var(--accent);
  }
}

h1, .h1 {
  font-family: var(--font-heading);
  font-weight: 400;
  font-size: 70px;
  line-height: 1;
  letter-spacing: 0.06em;
}

h2, .h2 {
  font-family: var(--font-heading);
  font-weight: 400;
  font-size: 50px;
  line-height: 1;
  letter-spacing: 0.07px;
}

h3, .h3 {
  font-family: var(--font-heading);
  font-weight: 400;
  font-size: 27px;
  line-height: 1;
  letter-spacing: normal;
}

h4, .h4 {
  font-family: var(--font-heading);
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.07px;
}

.h1-display {
  font-family: var(--font-heading);
  font-weight: 400;
  font-size: 54px;
  line-height: 1;
  letter-spacing: 0.06em;
}

.h2-upper {
  font-family: var(--font-heading);
  font-weight: 400;
  font-size: 40px;
  line-height: 1.52;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.text-accent {
  font-family: var(--font-heading);
  font-weight: 400;
  font-size: 24px;
  line-height: 1.32;
  letter-spacing: 0.06em;
}

.text-36 {
  font-family: var(--font-text);
  font-weight: 300;
  font-size: 36px;
  line-height: 1.52;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.text-24 {
  font-family: var(--font-text);
  font-weight: 300;
  font-size: 24px;
  line-height: 1.32;
  letter-spacing: 0.06em;
}

.text-18 {
  font-family: var(--font-text);
  font-weight: 300;
  font-size: 18px;
  line-height: 1.62;
  letter-spacing: 0.06em;
}

.text-16-medium {
  font-family: var(--font-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.06em;
}

.text-16-regular {
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.06em;
}

.text-16 {
  font-family: var(--font-text);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.42;
  letter-spacing: 0.06em;
}

.text-15 {
  font-family: var(--font-text);
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.06em;
}

.text-14 {
  font-family: var(--font-text);
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.06em;
}

.menu-18 {
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.06em;
}

.btn-16 {
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.06em;
}

.menu-15 {
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.06em;
}

.link-15 {
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.06em;
  text-decoration: underline;
  text-underline-position: from-font;
}

.link-14 {
  font-family: var(--font-text);
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.06em;
  text-decoration: underline;
  text-underline-position: from-font;
}

/* buttons */
.btn {
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.06em;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid transparent;
  border-radius: 100vmax;
  padding: var(--padding, 12px 20px);
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}
.btn--outline {
  border-color: var(--accent);
  color: var(--accent);
}
@media (any-hover: hover) {
  .btn--outline:hover {
    border-color: var(--accent);
    background: var(--accent);
    color: var(--Colors-White);
  }
}
@media (any-hover: none) {
  .btn--outline:active {
    border-color: var(--accent);
    background: var(--accent);
    color: var(--Colors-White);
  }
}
.btn--primary {
  border-color: var(--accent);
  background: var(--accent);
  color: var(--Colors-White);
}
@media (any-hover: hover) {
  .btn--primary:hover {
    border-color: var(--accent-hover);
    background: var(--accent-hover);
    color: var(--Colors-White);
  }
}
@media (any-hover: none) {
  .btn--primary:active {
    border-color: var(--accent-hover);
    background: var(--accent-hover);
    color: var(--Colors-White);
  }
}
.btn--white {
  border-color: var(--Colors-White);
  background: var(--Colors-White);
  color: var(--Colors-BG-Black);
}
@media (any-hover: hover) {
  .btn--white:hover {
    border-color: var(--accent);
    background: var(--accent);
    color: var(--Colors-White);
  }
}
@media (any-hover: none) {
  .btn--white:active {
    border-color: var(--accent);
    background: var(--accent);
    color: var(--Colors-White);
  }
}
.btn--card {
  border-color: var(--Colors-Blue-Accident-2);
  color: var(--Colors-White);
}
@media (any-hover: hover) {
  .btn--card:hover {
    border-color: var(--Colors-Blue-Accident-2);
    background: var(--Colors-Blue-Accident-2);
    color: var(--Colors-White);
  }
}
@media (any-hover: none) {
  .btn--card:active {
    border-color: var(--Colors-Blue-Accident-2);
    background: var(--Colors-Blue-Accident-2);
    color: var(--Colors-White);
  }
}
.btn--inline {
  border-color: var(--accent);
  background: var(--accent);
  color: var(--Colors-White);
}
@media (any-hover: hover) {
  .btn--inline:hover {
    border-color: var(--accent-hover);
    background: var(--accent-hover);
    color: var(--Colors-White);
  }
}
@media (any-hover: none) {
  .btn--inline:active {
    border-color: var(--accent-hover);
    background: var(--accent-hover);
    color: var(--Colors-White);
  }
}
.btn--inline::after {
  content: "";
  width: 7px;
  height: 12px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 7px;
          flex: 0 0 7px;
  background-color: currentColor;
  -webkit-mask: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.52856 5.43274C6.60465 5.50883 6.6427 5.59633 6.6427 5.69525C6.6427 5.79417 6.60465 5.88167 6.52856 5.95776L1.20984 11.2765C1.13375 11.3526 1.04624 11.3906 0.947327 11.3906C0.848409 11.3906 0.760905 11.3526 0.684814 11.2765L0.114136 10.7058C0.0380452 10.6297 0 10.5422 0 10.4433C0 10.3444 0.0380452 10.2569 0.114136 10.1808L4.59967 5.69525L0.114136 1.20972C0.0380452 1.13363 0 1.04612 0 0.947205C0 0.848287 0.0380452 0.760783 0.114136 0.684692L0.684814 0.114014C0.760905 0.0379229 0.848409 0 0.947327 0C1.04624 0 1.13375 0.0379229 1.20984 0.114014L6.52856 5.43274Z' fill='black'/%3E%3C/svg%3E") center/contain no-repeat;
          mask: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.52856 5.43274C6.60465 5.50883 6.6427 5.59633 6.6427 5.69525C6.6427 5.79417 6.60465 5.88167 6.52856 5.95776L1.20984 11.2765C1.13375 11.3526 1.04624 11.3906 0.947327 11.3906C0.848409 11.3906 0.760905 11.3526 0.684814 11.2765L0.114136 10.7058C0.0380452 10.6297 0 10.5422 0 10.4433C0 10.3444 0.0380452 10.2569 0.114136 10.1808L4.59967 5.69525L0.114136 1.20972C0.0380452 1.13363 0 1.04612 0 0.947205C0 0.848287 0.0380452 0.760783 0.114136 0.684692L0.684814 0.114014C0.760905 0.0379229 0.848409 0 0.947327 0C1.04624 0 1.13375 0.0379229 1.20984 0.114014L6.52856 5.43274Z' fill='black'/%3E%3C/svg%3E") center/contain no-repeat;
}
.btn--inline {
  min-height: 51px;
  padding: var(--padding, 14px 24px 14px 28px);
}
.btn--arrow::after {
  content: "";
  width: 7px;
  height: 12px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 7px;
          flex: 0 0 7px;
  background-color: currentColor;
  -webkit-mask: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.52856 5.43274C6.60465 5.50883 6.6427 5.59633 6.6427 5.69525C6.6427 5.79417 6.60465 5.88167 6.52856 5.95776L1.20984 11.2765C1.13375 11.3526 1.04624 11.3906 0.947327 11.3906C0.848409 11.3906 0.760905 11.3526 0.684814 11.2765L0.114136 10.7058C0.0380452 10.6297 0 10.5422 0 10.4433C0 10.3444 0.0380452 10.2569 0.114136 10.1808L4.59967 5.69525L0.114136 1.20972C0.0380452 1.13363 0 1.04612 0 0.947205C0 0.848287 0.0380452 0.760783 0.114136 0.684692L0.684814 0.114014C0.760905 0.0379229 0.848409 0 0.947327 0C1.04624 0 1.13375 0.0379229 1.20984 0.114014L6.52856 5.43274Z' fill='black'/%3E%3C/svg%3E") center/contain no-repeat;
          mask: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.52856 5.43274C6.60465 5.50883 6.6427 5.59633 6.6427 5.69525C6.6427 5.79417 6.60465 5.88167 6.52856 5.95776L1.20984 11.2765C1.13375 11.3526 1.04624 11.3906 0.947327 11.3906C0.848409 11.3906 0.760905 11.3526 0.684814 11.2765L0.114136 10.7058C0.0380452 10.6297 0 10.5422 0 10.4433C0 10.3444 0.0380452 10.2569 0.114136 10.1808L4.59967 5.69525L0.114136 1.20972C0.0380452 1.13363 0 1.04612 0 0.947205C0 0.848287 0.0380452 0.760783 0.114136 0.684692L0.684814 0.114014C0.760905 0.0379229 0.848409 0 0.947327 0C1.04624 0 1.13375 0.0379229 1.20984 0.114014L6.52856 5.43274Z' fill='black'/%3E%3C/svg%3E") center/contain no-repeat;
}
.btn--upper {
  text-transform: uppercase;
}

.header {
  display: -ms-grid;
  display: grid;
  gap: 18px;
  position: relative;
  z-index: 10;
}
.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  background: var(--bg-surface);
}
.header__top a {
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.header__info {
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.06em;
}
.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 18px 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 14px;
  background: var(--bg-surface);
  backdrop-filter: blur(10px);
}
.header__logo {
  display: block;
  width: 262px;
  height: 68px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: var(--text);
  background-color: currentColor;
  -webkit-mask: url("/upload/images/logo.svg") center/contain no-repeat;
          mask: url("/upload/images/logo.svg") center/contain no-repeat;
  margin-right: auto;
}
@media (any-hover: hover) {
  .header__logo:hover {
    color: currentColor;
  }
}
@media (any-hover: none) {
  .header__logo:active {
    color: currentColor;
  }
}
.header__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 42px;
  height: 42px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 30px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
@media (any-hover: hover) {
  .header__cart:hover {
    opacity: 0.75;
  }
}
@media (any-hover: none) {
  .header__cart:active {
    opacity: 0.75;
  }
}
.header__cart-icon {
  display: block;
  width: 42px;
  height: 42px;
}

.page {
  padding-top: 40px;
  padding-bottom: 80px;
}
.page__breadcrumbs {
  margin-bottom: 30px;
}
.page__title {
  margin-bottom: 30px;
}
.page__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 401px;
  grid-template-columns: 1fr 401px;
  gap: 30px;
}
@media screen and (max-width: 1023.98px) {
  .page__grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
.page__main {
  min-width: 0;
}
.page__aside {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.footer {
  padding: 50px 0;
  background: var(--bg-surface);
}
.footer__top {
  margin-bottom: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__logo {
  width: 195px;
  height: 50px;
}
.footer__bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 321fr 90px 659fr 90px 220fr;
  grid-template-columns: 321fr 659fr 220fr;
  gap: 90px;
}
.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 6px;
}
.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 13px;
}
.footer__contact-icon {
  width: 20px;
  height: 20px;
}
.footer__contact-icon img {
  max-width: 100%;
  max-height: 100%;
}
.footer__contact-link a {
  font-family: var(--font-text);
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.06em;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.footer__info {
  font-family: var(--font-text);
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.06em;
}
.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
}
.footer__vendor {
  font-family: var(--font-text);
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.06em;
  white-space: nowrap;
}
.footer__vendor a {
  color: var(--accent);
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.06em;
  text-decoration: underline;
  text-underline-position: from-font;
}
@media (any-hover: hover) {
  .footer__vendor a:hover {
    color: var(--accent-hover);
  }
}
@media (any-hover: none) {
  .footer__vendor a:active {
    color: var(--accent-hover);
  }
}
.footer__vendor a {
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
/*# sourceMappingURL=styles.css.map */