h1, .h1 {
  font-family: var(--font-heading);
  font-weight: 400;
  font-size: 70px;
  line-height: 1;
  letter-spacing: 0.06em;
}

h2, .h2 {
  font-family: var(--font-heading);
  font-weight: 400;
  font-size: 50px;
  line-height: 1;
  letter-spacing: 0.07px;
}

h3, .h3 {
  font-family: var(--font-heading);
  font-weight: 400;
  font-size: 27px;
  line-height: 1;
  letter-spacing: normal;
}

h4, .h4 {
  font-family: var(--font-heading);
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.07px;
}

.h1-display {
  font-family: var(--font-heading);
  font-weight: 400;
  font-size: 54px;
  line-height: 1;
  letter-spacing: 0.06em;
}

.h2-upper {
  font-family: var(--font-heading);
  font-weight: 400;
  font-size: 40px;
  line-height: 1.52;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.text-accent {
  font-family: var(--font-heading);
  font-weight: 400;
  font-size: 24px;
  line-height: 1.32;
  letter-spacing: 0.06em;
}

.text-36 {
  font-family: var(--font-text);
  font-weight: 300;
  font-size: 36px;
  line-height: 1.52;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.text-24 {
  font-family: var(--font-text);
  font-weight: 300;
  font-size: 24px;
  line-height: 1.32;
  letter-spacing: 0.06em;
}

.text-18 {
  font-family: var(--font-text);
  font-weight: 300;
  font-size: 18px;
  line-height: 1.62;
  letter-spacing: 0.06em;
}

.text-16-medium {
  font-family: var(--font-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.06em;
}

.text-16-regular {
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.06em;
}

.text-16 {
  font-family: var(--font-text);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.42;
  letter-spacing: 0.06em;
}

.text-15 {
  font-family: var(--font-text);
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.06em;
}

.text-14 {
  font-family: var(--font-text);
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.06em;
}

.menu-18 {
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.06em;
}

.btn-16 {
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.06em;
}

.menu-15 {
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.06em;
}

.link-15 {
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.06em;
  text-decoration: underline;
  text-underline-position: from-font;
}

.link-14 {
  font-family: var(--font-text);
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.06em;
  text-decoration: underline;
  text-underline-position: from-font;
}

/* home-media */
.home-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 40px;
  padding: 20px 0;
}

.home-media__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(0, 1fr) 30px minmax(0, 1fr) 30px minmax(0, 1fr);
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 30px;
}

.home-media__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 30px;
  min-width: 0;
  border-radius: 100vmax;
  padding: 24px;
  background-color: var(--bg-surface);
}

.home-media__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 105px;
  flex: 0 0 105px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 105px;
  height: 105px;
}

.home-media__image {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.home-media__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
  min-width: 0;
}

.home-media__name {
  font-family: var(--font-heading);
  font-weight: 400;
  font-size: 27px;
  line-height: 1;
  letter-spacing: normal;
}

.home-media__text {
  font-family: var(--font-text);
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.06em;
}

.home-media__link {
  font-family: var(--font-text);
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.06em;
  text-decoration: underline;
  text-underline-position: from-font;
  color: var(--accent);
}

@media (any-hover: hover) {
  .home-media__link:hover {
    color: var(--accent-hover);
  }
}

@media (any-hover: none) {
  .home-media__link:active {
    color: var(--accent-hover);
  }
}

.home-media__link {
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

/*# sourceMappingURL=style.css.map */